{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top:8%;">
  <a href="{% url 'income-type' %}"><h3 style="float:right;color: blue;">Select Income Name</h3></a>
  <h2 class="text-center">ADD INCOME</h2>
    <div class="card" style="border:3px solid darkgreen;border-radius:20px;">
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-4 mb-3 md-form">
              <label for="Incomename">Income Name</label>
              {% if incomemode == 'nothing' %}
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Income Name" name="incname" required autocomplete="off">
              {% else %}
              <input type="text" class="form-control" id="exampleInputEmail1" value="{{incomemode}}" aria-describedby="emailHelp" placeholder="Enter Income Name" name="incname" required autocomplete="off">
              {% endif %}
            </div>
            <div class="form-group ml-2 col-md-4 mb-3 md-form">
              <label for="Incomedate">Income Date</label>
              <input id="datepicker" type="date" class="form-control"  placeholder="Enter Date" name="incdate" required autocomplete="off">
            </div>
            <script>
                $('#datepicker').datepicker({
                    dateFormat: 'dd-mm-yy',
                    uiLibrary: 'bootstrap4'
                });
            </script>
            <div class="form-group ml-3 col-md-3 mb-2 md-form">
              <label for="exampleInputEmail1">Income  By</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Income By" name="incby" required autocomplete="off">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4 mb-3 md-form">
              <label for="exampleFormControlSelect1">Income Mode</label>
              <select class="form-control" id="exampleFormControlSelect1" name="incmode" required>
                <option>Cash</option>
                <option>Cheque</option>
                <option>Demand Draft</option>
              </select>
            </div>
            <div class="form-group ml-1 col-md-4 mb-3 md-form">
              <label for="exampleInputEmail1">Income Amount</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Income Amount" name="incamt" required autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Income Reason</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Income Reason" name="increason" required autocomplete="off">
          </div>
            <h3 class="text-center">Bank Details</h3>
            <div class="form-row">
              <div class="form-group col-md-4 mb-3 md-form">
                <label for="exampleInputEmail1">Bank Name </label>
                <select class="form-control" id="exampleFormControlSelect1" name="bankname" required>
                  <option>Canara</option>
                  <option>None</option>
                </select>
              </div>
              <div class="form-group col-md-4 mb-3 md-form">
                <label for="exampleInputEmail1">Checque or DD.no</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Cheque or DD.No" name="chequeordd" autocomplete="off">
              </div>
              <div class="form-group ml-2  ml-3 col-md-3 mb-2 md-form">
                <label for="Incomedate">Date From Bank</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Date" name="dateinbank" autocomplete="off">
              </div>
            </div>
          <button type="submit" class="btn btn-primary" style="float:right;">Submit</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}