{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top:8%;">
  <div class="link">
    <h2 class="text-center">ALL EMPLOTEES DETAILS</h2>
    <div class="link1">
      <a href="{% url 'add-employe' %}" style="float:right;font-size:30px;">Add Employee</a>
    </div>
  </div>
  <br><br>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Employe Id</th>
          <th scope="col">Employe Name </th>
          <th scope="col">Employe Designation</th>
          <th scope="col">Employe Designation In KDDA</th>
          <th scope="col">Employe Phone</th>
          <th scope="col">Employe Address</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
          {% for employee in employees %}
          <tr>
              <th scope="row">{{ employee.empid }}</th>
              <td>{% if user.is_authenticated %}<a href="{% url 'employee-update' employee.pk %}" style="color:red;">{% endif %}{{ employee.empname }}</td>
              <td>{{ employee.desination }}</td>
              <td>{{ employee.desginkdda }}</td>
              <td>{{ employee.phone }}</td>
              <td>{{ employee.address }}</td>
              {% if user.is_authenticated %}
              <td><a class="btn btn-danger ml-" href="{% url 'delete-employe' employee.pk %}" style="float: right;">Delete</a></td>
              {% endif %}
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}