{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top:8%;">
  <h2 class="text-center">ALL EXPENSE DETAILS</h2>
  <div class="table-responsive">
    <table class="table table-fixed" style="width:100%;">
      <thead class="head">
        <tr class="tr">
          <th scope="col">Expense Name</th>
          <th scope="col">Expense Date</th>
          <th scope="col">Expense Mode</th>
          <th scope="col">Amount</th>
          <th scope="col">Reason</th>
          <th scope="col">Expense By</th>
          <th scope="col">Bank Name</th>
          <th scope="col">Cheque/DD.no</th>
          <th scope="col">Date from Bank</th>
          <th scope="col">Details</th>
          {% if user.is_authenticated %}
          <th scope="col">Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
          {% for expense in expenses %}
          <tr>
              <td scope="row">
                {% if user.is_authenticated %}
                <a href="{% url 'expense-update' expense.pk %}" style="text-decoration:none;color:red;">{% endif %}{{ expense.expname }}</a>
              </td>
              <td>{{ expense.expdate|date:"d M, Y" }}</td>
              <td>{{ expense.expmode }}</td>
              <td>{{ expense.amount }}</td>
              <td>{{ expense.expreason }}</td>
              <td>{{ expense.expby }}</td>
              <td>{{ expense.bankname }}</td>
              <td>{{ expense.chequeordd }}</td>
              <td>{{ expense.dateinbank|date:"d M, Y" }}</td>
              <td>{{ expense.detail }}</td>
              {% if user.is_authenticated %}
              <td><a class="btn btn-danger" href="{% url 'delete-expense' expense.pk %}">Delete</a></td>
              {% endif %}
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}