{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top:8%;">
    <div class="table-responsive">
      <table width="45%" style="margin:0 auto;border-collapse:collapse;border:2px solid seagreen;font-size:20px;padding:15px;">
        <thead>
          <tr>
              <th class="header" style="text-align: center;">Sr.no</th>
              <th class="amt">Type Name</th>
          </tr>
        </thead>
        <tbody>
          {% for incometype in incometypes %}
            <tr>
                <td scope="row" class="detail" style="text-align: center;">{{ incometype.typeid }}</td>
                <td><a href="{% url 'add-income' incomemode=incometype.typename %}" style="color: black;text-decoration:none;">{{ incometype.typename }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}