{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Material Design Bootstrap</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/mdb.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/style.min.css'%}" rel="stylesheet">
        <style>
        .title{
            font-size: 25px;
            text-align: center;
        }
        .address{
            font-size: 15px;
            text-align: center;
        }
        .form-group{
            margin-bottom: 40px;
        }
        .form-control{
        border-radius: 0;
        border: none;
        border-bottom: 1px solid black;
        box-shadow: none;    
        }
        .text{
        border-radius: 0;
        border: none;
        border-bottom: 1px solid black;
        box-shadow: none; 
        text-decoration:bold;
        }
        </style>
    </head>
    <body>
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="title" style="font-size:40px;"><img src="{% static 'images/association.jpeg' %}" alt="logo" height="100" width="100"> KRISHNAGIRI DISTRICT DEAF ASSOCIATION</div>
                    <div class="address">Regd:46/2009</div>
                    <div class="address">KDDA Auditorium 29/1,2 Titan Township H.C.F Post, Mathigiri,Hosur-635110 TamilNadu</div>
                    <div class="address">Email id:kddakdda@yahoo.com Web : hosurkdda.com Mobile:9443511638</div>
                    <div class="row">
                        <div class="col">
                            <p>No:</p>
                        </div>
                        <div class="col">
                            <h3 class="text-center" style="text-decoration:underline;">Receipt</h3>
                        </div>
                        <div class="col">
                            <h6 class="text-center">Date:</h6>
                        </div>
                    </div>
                    <br/>
                    Recived with thanks from M/s.<input type="text" class="text" size="75"><br/><br/>
                    the sum of Rupees<input type="text" class="text" size="100"><br/><br/>
                    towards<input type="text" class="text" size="100"><br/><br/>
                    <input type="text" class="text" size="100"><br/><br/>
                    <div class="row">
                        <div class="col">
                            by Cheque No<input type="text" class="text">
                        </div>
                        <div class="col">
                            dt<input type="text" class="text">
                        </div>
                        <div class="col">
                            on<input type="text" class="text"> Bank/Cash.
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            Rs.<input type="text" class="text">
                        </div>
                        <div class="col">
                            <h3 style="float:right">President/Treasurer</h3>
                        </div>
                    <div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
        <script type="text/javascript">
        new WOW().init();
        </script>
    </body>
</html>